body {
    margin: 0;
    box-sizing: border-box;
    background: #f8f9fa;
}
#game-container {
/*    display: flex;
    justify-content: center;
    align-items: center;*/
    height: 400px;
    width: 70%;
    margin: 250px auto;
    background: #fefefe;
}
.point, .point1 {
    position: relative;
    display: inline-flex;
    background: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.point1 {
    background: green;
}